/* contact us */
.wcs-1-container {
    width: 100%;
}

.wcs-1-1 {
    width: 40%;
    float: left;
    padding: 5% 5% 5% 5%;
}
 
.wcs-1-1 h1 {
    margin-left: 25%;
}


.wcs-1-2 {
    width: 40%;
    float: right;
    padding: 5% 5% 5% 5%;
}



.wcs-1-2-1 {
    width: 40%;
    float: left;
    padding: 5% 0 5% 0;

}

.wcs-1-2-2 {
    width: 40%;
    float: right;
    padding: 5% 18% 5% 0;

}

.wcs-f input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wcs-f label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.wcs-f input[type=submit] {
    background-color: #5a46a8;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 100%;
}

.wcs-f input[type=submit]:hover {
    background-color: #45a049;
}


.col-25 {
    float: left;
    margin-top: 6px;
}

.col-75 {
    float: left;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.f{
    margin-right: 100px;
    text-align: center;
}
.f h3{
    text-align: center;
    color: #73C82C;
}
.contact-detail-section{
    padding-top: 0px;
}


.div {
    width: 392px;
    height: 370px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    color: #73c82c;
    text-align: center;
    margin: auto;
}