*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-family: Arial, sans-serif;
}

:root{
    --VediksatBlue :#020B71;
    --VediksatGreen: #73C82C; 
}  



.btn-1{
    background-color: rgb(0, 166, 221);
    color: white;
    padding: 10px 20px ;
    border-radius:  20px;
    border: none ;
    transition: all 0.3s ease;
}

.btn-1:hover{
    background-color: var(--VediksatBlue); 
}

 
/* NAVBAR STARTS */
 

header {
    position: relative;
} 

nav {
    display: flex;  
    height: 90px;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(34, 25, 25);

}

.nav__logo__container {
    margin: 60px 0px 0px 0px;
}
 

.nav__list__container ul {
    display: flex;
    list-style: none;
}


.nav__list__container ul li {
    display: block;
    padding: 0px 20px;
}

 
/* .active{
    border-top: 3px solid var(--VediksatBlue);;
} */

.nav__list__container ul li a {
    color: rgb(0, 0, 0); 
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.nav__list__container ul li a:hover {
    color: var(--VediksatGreen);
}

.humburger {
    position: absolute;
    right: 20px;
    top: 25px;
    display: none;
    z-index: 1;
    padding: 9px;
    z-index: 9;
}

.humburger-line {
    height: 3px;
    width: 30px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

.humburger-line:nth-child(2) {
    width: 20px; 
}

.menu:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
}

.menu:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
}

.menu:nth-child(3) {
    transform: rotate(-45deg) translate(2px, -1px);
}

/* NAVBAR ENDS */

.vhs-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
} 

.vhs-1-1{
    font-size: 50px;
    margin: 0px 20px 0px 0px;
}

.vhs-1-1 h1:nth-child(1){
    font-weight: lighter;
}

.vhs-1-1 h1:nth-child(3){
    margin: 0px 0px 20px 0px;
}

.vhs-1-1 p {
    font-size:  17px;
    color: gray;
    line-break: normal;
}


.vhs-1-2 img{
    height: 500px;
}


.vhs-2{
    background-color: #73C82C;
    width: 100%;
    margin: 10px 0px ;
}


.vhs-2 form {
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.vhs-2 form div {
    margin: 0px 10px;
}


.vhs-2 form label {
    color: #1d67cd;
}


.vhs-2 form input {
    color: #1d67cd;
    padding: 15px 30px;
    background-color: #d5dff6;
    border: 1px none;
    border-radius: 10px;
    margin: 10px 0px 0px 0px;
}


.vhs-2 form button {
    background-color: #1d67cd;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 10px;
    margin-left: 10px;
}

.vhs-2 form button:hover {
    background-color: #7b84f6;
    transition: 0.3s;
    cursor: pointer;
} 


::placeholder {
    color: #1d67cd;
    padding-left: 15px;
}


.vhs-3{
    display: flex;
}
 
.vhs-3-1{
    background: url('https://i1.wp.com/marabouservices.com/wp-content/uploads/2018/08/Blank-Square.png?ssl=1') no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
}

.vhs-3-2{
    width: 50%;
    padding: 0px 20px;
  
}

.vhs-3-2 h1{
    text-align: center;
    margin: 0px 0px 20px 0px;
}


.vhs-3-2 p{
    line-height: 30px;
    text-align: justify;
}
















/*For Navbar Responsiveness ***/

@media only screen and (max-width:1200px) {
    .humburger {
        display: block;
        transition: all 0.9s ease;
    }

    .humburger-menu{
        padding: 9px 9px 20px 9px;
        background-color: rgba(255, 255, 255, 0);
    }

    .nav__list__container {
        display: none;
        position: absolute;
        top: 0;
        margin-right: 250%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
        background-color: var(--VediksatGreen); 
        transition: all 0.9s ease;
        z-index: 8;
    }


    .nav__list__container ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    .nav__list__container-menu {
        position: absolute;
        top: 0;
        margin-right: 0%;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px 50px;
        background-color: var(--VediksatGreen);
        z-index: 8;
    }

    .nav__list__container-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav__list__container ul li {
        display: block;
        padding: 20px 20px;
    }

    .vhs-1{
        flex-direction: column;
    }

    .vhs-1-1{
        text-align: center;
        margin: 20px 0px 20px 0px;
        font-size: 30px;
    }

    .vhs-2 form {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .vhs-2  form button {
        margin: 10px;
    } 

  
}

@media only screen and (max-width:900px) {

    .vhs-3{
        flex-direction: column;
    }
     
    .vhs-3-1{
        width: 100%; 
    }
    
    .vhs-3-2{
        width: 100%;
        padding: 20px;
      
    }
    
    .vhs-3-2 h1{
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
    
    
    .vhs-3-2 p{
        line-height: 30px;
        text-align: justify;
    }
    
    
    
}

@media only screen and (max-width:550px) {


    .vhs-1-1 h1{
        font-size: ;
    }
    .vhs-1-2 img{
        height: 300px;
    }
    
    
    
}